button:focus{
   outline: none;
}
input:focus{
   outline: none;
}
body{
  margin: 0;
  background-color: #000000;
  padding: 0;
  background-image: url("../images/bg.jpg");
  border-image-width: 1920px;
  width: 100%;


}
header{
   height: 80px;
}
.header_bg{
   margin-left: 10px;
   margin-top: 10px;

}
.block_header{
   background-color: #FFA000;
}

.logo{
   width: 60px;
   height: 60px;
   float: left;

}
.LK{
   float: right;
   margin-right: 30px;
   margin-top: 10px;
   width: 150px;
   height: 50px;
   padding: 20px;
   background: rgb(135, 135, 135);
   border: none;
   border-radius: 20px;
   color: white;

}
.name{
   width: 400px;
   font-size: 60px;
   color: #ffffff;
   position: absolute;
   margin-left: 20px;

}
.main-content{

}
.block_images{
   text-align: center;
   margin-top: 40px;
   background-image: url("../images/papyrus-1024x614.png");
}
.screenshots{

   height: auto;
   margin: 20px;
   width: 450px;
}
#registration{
   bottom: 8%;
   position:absolute;
   z-index: 9999;
   right: 2%;
   width: 500px;
   height: 800px;
   background: white;
   border-radius: 20px;
}
.registration_block{
   margin: 40px;

}
.registration_input{
   width: 100%;
   border-radius: 4px;
   background: #e3e3e3
   padding-bottom: 1.1rem!important;
   padding-top: 1.1rem!important;
   font-size: 1.2rem!important;
}
